*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
header{
    font-family: 'Baguet Script', sans-serif;
    margin: 0;
}
h1{
    font-family: 'Baguet Script', sans-serif;
    margin: 0;
}
h2{
    font-family: 'GOUDY STOUT', sans-serif;
    margin: 0;
}
footer{
    font-family: 'Baguet Script', sans-serif;
    margin: 0;
}
h1{ font-size: 60px;}
h2{ font-size: 28px;}
h3{ font-size: 28px;}
p{ font-size: 28px;}
ul{ list-style: none;}
li{ font-size: 28px;}
button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: blueviolet;
}

.container{
    max-width: 1400px;
    margin: auto;
}
header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: blueviolet;
    font-size: 1.6em;
}
header .contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}
intro{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#hero h1{
    color: white;
}
#hero button{
    font-size: 1.75em;
}
#somos-proya .container{
    text-align: center;
    padding: 200px 12px;
}
#nuestros-programas{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}
#nuestros-programas .container{
    padding: 150px 12px;
}
#nuestros-programas .container h2{
    margin-top: 0;
    font-size: 14px;
}
#nuestros-programas h2{
    margin-top: 0;
    font-size: 14px;
}
#nuestros-programas p{
    display: none;
}
#nuestros-programas .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}
.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("1.jpg");

}

Expand All
	@@ -171,7 +171,7 @@ header a:hover{
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("2.jpg");
}

.carta:nth-child(3){
Expand All
	@@ -180,7 +180,7 @@ header a:hover{
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("3.jpg");

}

Expand Down
Expand Up
	@@ -271,7 +271,7 @@ footer .container{
    }

    #somos-proya .img-container{
        background-image: url("4.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
Expand Down
Expand Up
	@@ -311,7 +311,7 @@ footer .container{
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("5.jpg");

    }

Expand All
	@@ -321,7 +321,7 @@ footer .container{
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("6.jpg");
    }

    .carta:nth-child(3){
Expand All
	@@ -330,7 +330,7 @@ footer .container{
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("7.jpg");

    }
